{% extends "FregatMonitoringApp/auto_melts_info.html" %}

{% load FregatMonitoring_extratags %}

{% block automelts_info %}
<div class="content-box">
  <form action="{% url 'FregatMonitoringApp:auto_melts_save_settings' melts_id.0 melts_id.1 %}" method="post">
  {% csrf_token %}
      <div> 
      {% for melt in melt_types %} <!--Типы плавок выводим только для первой печи, для второй такие же-->
          <a href="{% url 'FregatMonitoringApp:auto_melts_types_info' melt.melt_id %}" class="btn"> {{ melt.melt_name }} </a>
      {% endfor %} 
      </div>
      <div class="auto-melts-types-box">
      <table>
        <tr><td class=" area-name bottom-line">
              <p> Печь №1 </p>
            </td>
            <td width="100px"></td>
            <td class=" area-name bottom-line">
              <p> Печь №2 </p>
            </td></tr>
        <tr><td>
            <table><tr><td>
                      {% for step in melt_steps_1 %}
                          {% get_substebs_by_step melt_name step substeps_1 %}
                      {% endfor %}  
                   </td></tr>            
            </table>
            </td>
            <td width="100px"></td>
            <td>
            <table><tr><td>
                      {% for step in melt_steps_2 %}
                          {% get_substebs_by_step melt_name step substeps_2 %}     
                      {% endfor %}    
                   </td></tr>             
            </table>
         </td></tr>
      </table>
      </div>
      <div class="save_btn_bar"> 
          <input class="btn" type="submit" value="Сохранить изменения">
      </div>
  </form>
</div>
{% endblock %}