{% extends "FregatMonitoringApp/auto_melts_info.html" %}

{% block auto_melts_set_points%}
<div class="content-box">
<table>
      <tr>
        <form id="ChangeDeltaT1Form" action="{% url 'FregatMonitoringApp:auto_melts_save_setpoints' 1  %}" method="post"> 
        {% csrf_token %}
        <td class="setpoints-table">Уставка дельта Т печь №1</td>
        {% if user.is_authenticated and perms.FregatMonitoringApp.change_avtoplavka_setpoints %}
        <td><input name="DeltaT1_stp" value={{deltaT1_stp}}></td>
        <td><input class="btn" name="ChangeDeltaT1_btn" value="Изменить" type="submit" ></td>
        {% else %}
        <td><input readonly disabled name="DeltaT1_stp" value={{deltaT1_stp}}></td>
        <td></td>
        {% endif %}
        </form>
      </tr>
      <tr>
        <form id="ChangeDeltaT2Form" action="{% url 'FregatMonitoringApp:auto_melts_save_setpoints' 2 %}" method="post">
        {% csrf_token %}
        <td class="setpoints-table">Уставка дельта Т печь №2</td>
        
        {% if user.is_authenticated and perms.FregatMonitoringApp.change_avtoplavka_setpoints %}
        <td><input name="DeltaT2_stp" value={{deltaT2_stp}}></td>
        <td><input class="btn" name="ChangeDeltaT2_btn" value="Изменить" type="submit" ></td>
        {% else %}
        <td><input  readonly disabled name="DeltaT2_stp" value={{deltaT2_stp}}></td>
        <td></td>
        {% endif %}
        </form>
      </tr>
</table>
</div>
{% endblock %}