{% load static %}

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'FregatMonitoringApp/style.css' %}">
      {% block furnace_info_script %}{% endblock %}
      {% block furnace_trends_scripts %}{% endblock %}
</head>
<body>

<div class="header-bgd"> <!-- Header-->
       <table width="100%">
       <tr style="height:20px">
          <td class="header-brand">ООО "Фрегат"</td>
          <td class="orange-text cursive">Cloud monitoring service</td>  
          <td class="white-text">Сервис дистанционного мониторинга и управления</td>
          <td>
            <table width="100%"> 
            <tr>
               <td><table>
                 <tr>
                   <td class="white-text"> Пользователь: </td>

                   <td class="white-text"> Оператор      </td>
                 </tr>
                    </table>
               </td>
            </tr>  
            <td>
               <td><table> 
                  <tr class="white-text">
                    Оператор
                  </tr>    
                   </table> 
               </td>
            </tr>
            </table>
          </td>
       </tr>
       </table>
</div>
<div class="main_container">  <!-- Содержимое полностью-->
  <div class="top_menu_bar">
    <a href="{% url 'FregatMonitoringApp:furnace_1_info' %}" class="top_menu_btn">Печь №1</a> 
    <a href="{% url 'FregatMonitoringApp:furnace_2_info' %}" class="top_menu_btn">Печь №2</a> 
    <a href="{% url 'FregatMonitoringApp:auto_melts_types_info' 1 %}" class="top_menu_btn">Автоплавка</a> 
    <a href="{% url 'FregatMonitoringApp:sorry_page' %}" class="top_menu_btn">Рафинировка</a> 
    <a href="{% url 'FregatMonitoringApp:sorry_page' %}" class="top_menu_btn">Розлив</a> 
    <a href="{% url 'FregatMonitoringApp:sorry_page' %}" class="top_menu_btn">Шнека</a> 
    <a href="{% url 'FregatMonitoringApp:reports_page' %}" class="top_menu_btn">Отчёты</a>    
  </div>
  <div class="current_scr_container">
    <input id='curScr' type='hidden' value='monitor_scr'> 
    {% block left_side_bar %}{% endblock %}
    {% block error_message %}{% endblock %}
    {% block furnace_info %}{% endblock %}
    {% block furnace_base_trends%}{% endblock %}
    {% block reports%}{% endblock %}
    {% block automelts_info %}{% endblock %}
    {% block melt_mod_card_info %}{% endblock %}
    {% block auto_melts_set_points %}{% endblock %}
  </div>
</div>

</body>
</html>