{% load static %}

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'FregatMonitoringApp/style.css' %}">
      <script src="{% static 'FregatMonitoringApp/scripts/DataUpdate.js' %}"> </script>
      <script src="{% static 'FregatMonitoringApp/scripts/ChangeDeltaMethod.js' %}"> </script>
</head>
<body>

<div class="header-bgd"> <!-- Header-->
       <table width="100%">
       <tr style="height:20px">
          <td class="header-brand">ООО "Фрегат"</td>
          <td class="orange-text cursive">Cloud monitoring service</td>  
          <td class="white-text">Сервис дистанционного мониторинга и управления</td>
          <td>
            <table width="100%"> 
            <tr>
               <td><table>
                 <tr>
                   <td class="white-text"> Пользователь: </td>

                   <td class="white-text"> Оператор      </td>
                 </tr>
                    </table>
               </td>
            </tr>  
            <td>
               <td><table> 
                  <tr class="white-text">
                    Оператор
                  </tr>    
                   </table> 
               </td>
            </tr>
            </table>
          </td>
       </tr>
       </table>
</div>
<div class="main_container">  <!-- Содержимое полностью-->
  <div class="top_menu_bar">
    <div id="furnace_1" class="top_menu_btn">
      <p> Печь №1 </p> 
    </div>
    <div id="furnace_2" class="top_menu_btn">
      <p> Печь №2 </p> 
    </div>
    <div id="raf_otdel" class="top_menu_btn">
      <p> Рафинировка </p> 
    </div>
    <div id="Rozliv" class="top_menu_btn">
      <p> Розлив </p> 
    </div>
    <div id="Shneka" class="top_menu_btn">
      <p> Шнека </p> 
    </div>
    <div id="Reports" class="top_menu_btn">
      <p> Отчёты </p> 
    </div>
  </div>
  <div class="left-side-bar" hidden>
    <ul style="visible: false;">
      <li>Печь №1</li>
      <li>Печь №2</li>
      <li>Линия розлива</li>
      <li>Рафинирование</li>
      <li>Тренды</li>
      <li>Отчёты</li>
    </ul>
  </div>
  <div>{% block furnace %} {% endblock %}</div>
  <div class="current_scr_container">
    <input id='curScr' type='hidden' value='monitor_scr'> 
    <table>
      <tr>
        <form id="ChangeDeltaT1Form"> 
        <td>Уставка дельта Т печь №1</td>
        <td><input id="DeltaT1_stp" value></td>
        <td><input class="btn" name="ChangeDeltaT1_btn" value="Изменить" onclick="ChangeDeltaT(this);"></td>
        </form>
      </tr>
      <tr>
        <form id="ChangeDeltaT2Form">
        <td>Уставка дельта Т печь №2</td>
        <td><input id="DeltaT2_stp" value></td>
        <td><input class="btn" name="ChangeDeltaT2_btn" value="Изменить" onclick="ChangeDeltaT(this);"></td>
        </form>
      </tr>
    </table>
  </div>
</div>

</body>
</html>