{% extends "FregatMonitoringApp/base.html" %}

{% load FregatMonitoring_extratags %}

{% block furnace_info_script %}
{% load static %}
<script src="{% static 'FregatMonitoringApp/scripts/FurnaceInfoUpdate.js' %}"> </script>
{% endblock %}

{% block left_side_bar%}
<div class="left-side-bar">
    <ul style="padding-left: 0px;">
      {% if furnace_num == 1 %}                                                                                            
          <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:furnace_base_trends' 1%}"> Тренды </a></li>
          <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:furnace_errors_log' 1%}"> Журнал ошибок </a></li>
      {% elif furnace_num == 2%}
          <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:furnace_base_trends' 2%}"> Тренды </a></li>
          <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:furnace_errors_log' 2%}"> Журнал ошибок </a></li>
      {% endif %}
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:auto_melts_types_info' 1 %}"> Режимы плавок </a></li>
    </ul>
</div>
{% endblock%}  

{% block furnace_info %}
<div class="content-box">
<div id="FurnaceNo" class="content-page-header">Печь №{{ furnace_num }}. Основные параметры</div>
<table>
    <tr>
        <td><!--Основная таблица с картинкой печи-->
            <table class="furnace-info-tab" border=0>
                <tr height="20%">
                    <td width="15%"></td>                   
                    <td width="20%" class="furnace-info-tab-td-top">
                                    <table width="170px" align="left" class="furnace-info-tab-2" border=0>
                                    <tr><td class="area-name bottom-line">Фильтр</td><td></td></tr>
                                    <tr><td>Перепад</td><td> <span id={{ filter_dp.1 }} class="UpdSign">{{filter_dp.0|floatformat}}</span><span> Па</span></td></tr>
                                    <tr><td>Температура перед</td><td> <span id={{ t_before_filter.1 }} class="UpdSign"> {{t_before_filter.0|floatformat:1}}</span><span> С</span></td></tr>
                                    <tr><td></td><td>  </td></tr>
                                    </table>
                    </td>
                    <td width="20%"></td>
                    <td width="25%" class="furnace-info-tab-td-top">
                                    <table align="left" class="furnace-info-tab-2" border=0>
                                    <tr><td class="area-name bottom-line">Горячий газоход</td><td></td></tr>
                                    {% color_rarefaction_in_hotgate hotflue_p hotflue_p_sp %}
                                    <tr><td>Дроссель ГГ</td><td> <span id={{ hot_flue_gate.1 }} class="UpdSign"> {{hot_flue_gate.0|floatformat}}</span><span> %</span></td></tr>
                                    <tr><td>Температура ГГ</td><td> <span id={{ hotflue_t.1 }} class="UpdSign"> {{hotflue_t.0|floatformat:1}}</span><span> С</span></td></tr>
                                    </table>
                    </td>
                    <td width="20%"></td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td></td>
                    <td class="furnace-info-tab-td-top">
                                    <table class="furnace-info-tab-3" border=0>                                   
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>На 3 фильтр</td> <td></td></tr>
                                    <tr><td> <span id={{ filter3_gate.1 }} class="UpdSign">{{filter3_gate.0|floatformat}}</span><span> %</span></td>         <td></td></tr>
                                    </table>
                    </td>
                    <td class="furnace-info-tab-td-top">
                                    <table class="furnace-info-tab-3" border=0>                                   
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td width="30px"></td><td></td><td></td><td>Сливной</td><td></td><td></td></tr>                                   
                                    <tr><td>Круглый</td>     <td></td><td> <span id={{ round_gate.1 }} class="UpdSign">{{round_gate.0|floatformat}}</span><span> %</span></td><td></td>
                                        <td> <span id={{ drain_gate.1 }} class="UpdSign">{{drain_gate.0|yesno:"закрыт, открыт"}}</td><td></td><td></td></tr> 
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td><span id="rf_fur2_point5" class="UpdSign_2">Рт.5=-{{rf_fur2_point5}}</span></td>
                                        <td></td><td><span id="rf_fur2_point4" class="UpdSign_2">Рт.4=-{{rf_fur2_point4}}</span></td>
                                        <td></td><td><span id="rf_fur2_point3" class="UpdSign_2">Рт.3=-{{rf_fur2_point3}}</span></td> 
                                        <td></td><td><span id="rf_fur2_point2" class="UpdSign_2">Рт.2=-{{rf_fur2_point2}}</span></td></tr>      
                                    </table>
                    </td>
                    <td class="furnace-info-tab-td-top">
                                    <table class="furnace-info-tab-3" border=0>                                   
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>Над дверью</td>  <td> <span id={{ over_door_gate.1 }} class="UpdSign">{{over_door_gate.0|floatformat}}</span><span> %</span></td></tr>  
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>     
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr> 
                                    <tr><td>      </td>      <td></td></tr> 
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td> </td> <td> <span id="rf_fur2_point1" class="UpdSign_2">Рт.1=-{{rf_fur2_point1}}</span></td></tr>                             
                                    </table>
                    </td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr height="20%">
                    <td class="furnace-info-tab-td-top">
                                    <table width="170px" align="left" class="furnace-info-tab-2" border=0>
                                    <tr><td class="area-name bottom-line">Дымосос</td><td></td></tr>
                                    <tr><td>Перепад</td><td> <span id={{ exhauster_dp.1 }} class="UpdSign" >{{exhauster_dp.0|floatformat}}</span><span> Па</span></td></tr>
                                    <tr><td>Частота</td><td> <span id={{exhauster_pc.1}} class="UpdSign"> {{exhauster_pc.0|floatformat}}</span><span> %</span></td></tr>
                                    <tr><td>Дроссель</td><td> <span id={{exhauster_gate.1}} class="UpdSign"> {{exhauster_gate.0|floatformat}}</span><span> %</span></td></tr>
                                    </table></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
        <td class="furnace-info-tab-td-top"> <!--Правая таблица-->
            <table border=0 >
                <tr height="195px">
                    <td class="furnace-info-tab-td-top">
                       <table class="furnace-info-tab-2" border=0>
                            <tr><td width="200px" class="area-name bottom-line">Автоплавка</td><td></td></tr>
                            <tr><td>Номер плавки</td><td> <span id="melt_no"   class="UpdSign_1">{{melt_no}}</span></td></tr>
                            <tr><td>Режим</td>       <td> <span id="auto_mode" class="UpdSign_1">{{auto_mode}}</span></td></tr>
                            <tr><td>Плавка</td>      <td> <span id="melt_name" class="UpdSign_1">{{melt_type}}</span></td></tr>
                            <tr><td>Стадия</td>      <td> <span id="step_name" class="UpdSign_1">{{melt_step}}</span></td></tr>
                            <tr><td>Время стадии</td><td> <span id="step_total_time" class="UpdSign_1">{{step_total_time}}</span><span> мин.</span></td></tr>
                            <tr><td>Осталось</td>    <td> <span id="step_time_remain" class="UpdSign_1">{{step_time_remain}}</span><span> мин.</span></td></tr>
                            <tr><td>Дельта</td>      <td><span id="deltat" class="UpdSign_1">{{deltaT|floatformat}}</span><span> С</span></td></tr>
                            <tr><td>Дельта(уст.)</td><td><span id="deltat_stp" class="UpdSign_1">{{deltat_stp}}</span><span> С</span></td></tr>
                        </table>
                    </td>
                </tr>
                <tr height="20%"><td></td>
                </tr>
                <tr height="195px">
                    <td class="furnace-info-tab-td-top">
                        <table width="200px" class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">Горелка</td><td></td></tr>
                            {% color_power_sp_if_reduce power_sp_base power_sp %}
                            <tr><td>Газ</td>      <td> <span id={{ gas_flow.1 }} class="UpdSign">{{ gas_flow.0|floatformat }}</span><span> нм3/ч</span></td></tr>
                            <tr><td>Кислород</td> <td> <span id={{ o2_flow.1 }}  class="UpdSign">{{ o2_flow.0|floatformat }}</span><span> нм3/ч</span></td></tr>
                            <tr><td>Воздух</td>   <td> <span id={{ air_flow.1 }}  class="UpdSign">{{ air_flow.0|floatformat }}</span><span> нм3/ч</span></td></tr>
                            <tr><td>Альфа</td>    <td> <span id={{ alpha.1 }}  class="UpdSign">{{ alpha.0|floatformat }}</span><span> %</span></td></tr>
                            <tr><td>Лямбда</td>      <td id={{ lambda.1 }} class="UpdSign"> {{ lambda.0|floatformat:2}}</td></tr>
                            <tr><td>Дежурный режим</td>{% if standby.0 %}<td id={{ standby.1 }} class="UpdSign red-lamp"> </td></tr>
                                                       {% else %}<td id={{ standby.1 }} class="UpdSign black-lamp"> </td></tr>
                                                       {% endif %}
                            <tr><td>Основной режим</td>{% if power_mode.0 %}<td id={{ power_mode.1 }} class="UpdSign red-lamp"> </td></tr>
                                                       {% else %}<td id={{ power_mode.1 }}class="UpdSign black-lamp"> </td></tr>
                                                       {% endif %}                             
                        </table>
                    </td>
                </tr>
                <tr height="20%"><td></td>
                </tr>
                <tr height="195px">
                    <td class="furnace-info-tab-td-top">
                        <table width="200px" class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">ШЗМ</td><td></td></tr>
                            <tr><td>Позиция</td>       <td{{shzm_position}}</td></tr>
                            <tr><td>Из печи/ в печь</td>      <td> </td></tr>
                            <tr><td>Вибрация</td> {% if vibrator_shzm %}<td  class="red-lamp"> </td></tr>
                                                       {% else %}<td class="black-lamp"> </td></tr>
                                                       {% endif %}
                            <tr><td>Вес</td>   <td><span id={{ weight_in_shzm.1 }} class="UpdSign">{{ weight_in_shzm.0|floatformat:1 }}</span><span> т</span></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td> <!--Нижняя таблица-->
            <table width="100%" border=0>
                <tr>
                    <td width="15%"></td>
                    <td width="40%"></td>
                    <td width="15%" class="furnace-info-tab-td-top">
                       <table class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">Поезд</td><td></td></tr>
                            <tr><td>Движение</td> <td>---</td></tr>
                            <tr><td>Направление</td> <td>---</td></tr>
                        </table>
                    </td>
                    <td width="20%" class="furnace-info-tab-td-top">
                       <table class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">Печь</td><td></td></tr>
                            <tr><td>Вращение</td> <td><span id={{ furnace_rotation.1 }} class="UpdSign">{{furnace_rotation.0|floatformat}}</span><span>  %</span></td></tr>
                            <tr><td>Нагрузка</td> <td><span id={{ furnace_current.1 }} class="UpdSign">{{furnace_current.0|floatformat}}</span><span>  %</span></td></tr>
                        </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
        </td>
        <td>
        </td>
    </tr>
</table> 
</div>   
{% endblock %}