{% extends "FregatMonitoringApp/base.html" %}

{% block furnace_trends_scripts %}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Kelly.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
    {% load static %}
    <script src="{% static 'FregatMonitoringApp/scripts/TestTrend.js' %}"> </script>
{% endblock %}

{% block LeftSideBar%}
<div class="left-side-bar">
    <ul style="padding-left: 0px;">
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:Automelts_info' 1 %}"> Режимы плавок </a></li>
    </ul>
</div>
{% endblock%}  

{% block FurnaceBaseTrends%}
<div class="content-box">
  <div id="FurnaceNo" class="content-page-header">Печь №{{ Furnace_No }}. Тренды
    <div style="width: 200px;"></div>
    <div class="trend-period">Начальное время</div> 
    <input align="right" type="datetime-local"  id="start_time" name="start_time" value="{{ Start_time }}"/> 
    <div class="trend-period">Конечное время</div>
    <input align="right" type="datetime-local"  id="stop_time" name="stop_time" value="{{ Stop_time }}"/>
    <input class="btn" id="trend_update_btn" name="ChangeTrendPeriod_btn" value="обновить" onclick=FurnaceBaseTrendsDataUpdate(am5)>
  </div>
  <span hidden id="Furnace_No">{{ Furnace_No }}</span>
  <div id="chartdiv"></div>
</div>
{% endblock %}