{% extends "FregatMonitoringApp/base.html" %}

{% block LeftSideBar%}
<div class="left-side-bar">
    <ul style="padding-left: 0px;">
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:SorryPage' %}"> Тренды </a></li>
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:Automelts_info' 1 %}"> Режимы плавок </a></li>
    </ul>
</div>
{% endblock%}  

{% block furnace_info %}
<div class="content-box">
<div class="content-page-header">Печь №{{ furnace_num }}</div>
<table>
    <tr>
        <td><!--Основная таблица с картинкой печи-->
            <table class="furnace-info-tab" border=0>
                <tr height="20%">
                    <td width="15%"></td>
                    <td width="20%" class="furnace-info-tab-td-top">
                                    <table width="170px" align="left" class="furnace-info-tab-2" border=0>
                                    <tr><td class="area-name bottom-line">Дымосос</td><td></td></tr>
                                    <tr><td>Перепад</td><td>{{exhauster_dp}} Па</td></tr>
                                    <tr><td>Частота</td><td> {{exhauster_pc}}% </td></tr>
                                    <tr><td>Дроссель</td><td> {{exhauster_gate}}% </td></tr>
                                    </table>
                    </td>
                    <td width="20%"></td>
                    <td width="25%" class="furnace-info-tab-td-top">
                                    <table align="left" class="furnace-info-tab-2" border=0>
                                    <tr><td class="area-name bottom-line">Горячий газоход</td><td></td></tr>
                                    <tr><td>Рязряжение</td><td>{{hotflue_p}} Па</td></tr>
                                    <tr><td>Дроссель ГГ</td><td> {{hot_flue_gate}}% </td></tr>
                                    <tr><td>Температура ГГ</td><td> {{hotflue_t}} С </td></tr>
                                    </table>
                    </td>
                    <td width="20%"></td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td class="furnace-info-tab-td-top">
                                    <table width="170px" align="left" class="furnace-info-tab-2" border=0>
                                    <tr><td class="area-name bottom-line">Фильтр</td><td></td></tr>
                                    <tr><td>Перепад</td><td>{{filter_dp}} Па</td></tr>
                                    <tr><td>Температура перед</td><td> {{t_before_filter}} С </td></tr>
                                    <tr><td></td><td>  </td></tr>
                                    </table>
                    </td>
                    <td class="furnace-info-tab-td-top">
                                    <table class="furnace-info-tab-3" border=0>                                   
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>На 3 фильтр</td> <td></td></tr>
                                    <tr><td>{{filter3_gate}}%</td>         <td></td></tr>
                                    </table>
                    </td>
                    <td class="furnace-info-tab-td-top">
                                    <table class="furnace-info-tab-3" border=0>                                   
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td><td width="30px"></td><td></td><td></td><td>Сливной</td><td></td></tr>                                   
                                    <tr><td>Круглый</td>     <td>{{round_gate}}%</td><td></td><td></td><td></td><td>{{drain_gate}}</td><td></td></tr> 
                                    </table>
                    </td>
                    <td class="furnace-info-tab-td-top">
                                    <table class="furnace-info-tab-3" border=0>                                   
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>                                                                      
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>      </td>      <td></td></tr>
                                    <tr><td>Над дверью</td>     <td>{{over_door_gate}}%</td></tr>                                    
                                    </table>
                    </td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr height="20%">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
        <td class="furnace-info-tab-td-top"> <!--Правая таблица-->
            <table border=0 >
                <tr height="195px">
                    <td class="furnace-info-tab-td-top">
                       <table class="furnace-info-tab-2" border=0>
                            <tr><td width="200px" class="area-name bottom-line">Автоплавка</td><td></td></tr>
                            <tr><td>Режим</td>       <td>{{auto_mode}}</td></tr>
                            <tr><td>Плавка</td>      <td>{{melt_type}}</td></tr>
                            <tr><td>Стадия</td>      <td>{{melt_step}}</td></tr>
                            <tr><td>Время стадии</td><td>{{step_total_time}} мин.</td></tr>
                            <tr><td>Осталось</td>    <td>{{step_time_remain}} мин.</td></tr>
                            <tr><td>Дельта</td>      <td>{{deltaT}} С</td></tr>
                            <tr><td>Дельта(уст.)</td>      <td>{{deltat_stp}} С</td></tr>
                        </table>
                    </td>
                </tr>
                <tr height="20%"><td></td>
                </tr>
                <tr height="195px">
                    <td class="furnace-info-tab-td-top">
                        <table width="200px" class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">Горелка</td><td></td></tr>
                            <tr><td>Мощность</td>       <td>{{ power_sp }}</td></tr>
                            <tr><td>Газ</td>      <td>{{ gas_flow }} нм3/ч</td></tr>
                            <tr><td>Кислород</td> <td>{{ o2_flow }} нм3/ч</td></tr>
                            <tr><td>Воздух</td>   <td>{{ air_flow }} нм3/ч</td></tr>
                            <tr><td>Альфа</td>    <td>{{ alpha }}%</td></tr>
                            <tr><td>Лямбда</td>      <td>{{ lambda }}</td></tr>
                            <tr><td>Дежурный режим</td>{% if standby %}<td class="red-lamp"> </td></tr>
                                                       {% else %}<td class="black-lamp"> </td></tr>
                                                       {% endif %}
                            <tr><td>Основной режим</td>{% if power_mode %}<td class="red-lamp"> </td></tr>
                                                       {% else %}<td class="black-lamp"> </td></tr>
                                                       {% endif %}                             
                        </table>
                    </td>
                </tr>
                <tr height="20%"><td></td>
                </tr>
                <tr height="195px">
                    <td class="furnace-info-tab-td-top">
                        <table width="200px" class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">ШЗМ</td><td></td></tr>
                            <tr><td>Позиция</td>       <td>{{shzm_position}}</td></tr>
                            <tr><td>Из печи/ в печь</td>      <td> </td></tr>
                            <tr><td>Вибрация</td> {% if vibrator_shzm %}<td class="red-lamp"> </td></tr>
                                                       {% else %}<td class="black-lamp"> </td></tr>
                                                       {% endif %}
                            <tr><td>Вес</td>   <td>13.2 т</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td> <!--Нижняя таблица-->
            <table width="100%" border=0>
                <tr>
                    <td width="15%"></td>
                    <td width="40%"></td>
                    <td width="15%" class="furnace-info-tab-td-top">
                       <table class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">Поезд</td><td></td></tr>
                            <tr><td>Движение</td> <td>---</td></tr>
                            <tr><td>Направление</td> <td>---</td></tr>
                        </table>
                    </td>
                    <td width="20%" class="furnace-info-tab-td-top">
                       <table class="furnace-info-tab-2" border=0>
                            <tr><td class="area-name bottom-line">Печь</td><td></td></tr>
                            <tr><td>Вращение</td> <td>{{furnace_rotation}} %</td></tr>
                            <tr><td>Нагрузка</td> <td>{{furnace_current}} %</td></tr>
                        </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
        </td>
        <td>
        </td>
    </tr>
</table> 
</div>   
{% endblock %}