{% extends "FregatMonitoringApp/base.html" %}

{% block furnace_trends_scripts %}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Kelly.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
    
    <link href="https://unpkg.com/tabulator-tables@5.1.3/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.1.3/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    {% load static %}
    <!-- Скрипты обработки таблицы и графиков внизу шаблона -->
    
    
{% endblock %}

{% block LeftSideBar%}
<div class="left-side-bar">
    <ul style="padding-left: 0px;">
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:GasesUsage' 'gases_usage_per_day' %}"> Газ, О2 почасовой </a></li>
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:GasesUsage' 'gases_usage_daily' %}"> Газ, О2 посуточный </a></li>
    </ul>
</div>
{% endblock%}  

{% block Reports%}
<div class="content-box">
  <div id="Reports" class="content-page-header">Отчёты
    <div style="width: 200px;"></div>
    <div class="trend-period">Начальное время</div> 
    <input align="right" type="datetime-local"  id="start_time" name="start_time" value="{{ Start_time }}"/> 
    <div class="trend-period">Конечное время</div>
    <input align="right" type="datetime-local"  id="stop_time" name="stop_time" value="{{ Stop_time }}"/>
    <input class="btn" id="trend_update_btn" name="ChangeTrendPeriod_btn" value="обновить" onclick=GasesUsageDataUpdate()>
  </div>
  <span hidden id="report_type">{{ report_type }}</span>
  <div id="gases-usage-block"> 
    <div>  
      <button id="download-csv" >Download CSV</button>
      <button id="download-xlsx">Download XLSX</button>
    </div>
    <div id="gases-usage-table"></div>
  </div>  
  <div id="gases-usage-chartdiv"></div>
  <script src="{% static 'FregatMonitoringApp/scripts/GasesUsageTable.js' %}"> </script>
  <script src="{% static 'FregatMonitoringApp/scripts/GasesUsageCharts.js' %}"> </script>
</div>
{% endblock %}