{% extends "FregatMonitoringApp/base.html" %}

{% block furnace_trends_scripts %}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Kelly.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
{% endblock %}

{% block LeftSideBar%}
<div class="left-side-bar">
    <ul style="padding-left: 0px;">
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:GasesUsage' 'gases_usage_per_day' %}"> Газ, О2 почасовой </a></li>
      <li class="left-side-bar-list"><a href="{% url 'FregatMonitoringApp:GasesUsage' 'gases_usage_daily' %}"> Газ, О2 посуточный </a></li>
    </ul>
</div>
{% endblock%}  

{% block Reports%}
<div class="content-box">
  <div class="content-page-header">Отчёты
  </div>
  <span hidden id="report_type">{{ report_type }}</span>
</div>
{% endblock %}