<table class="melt_step_container">
<tr>
<td id="stepid_{{step.step_id}}" class="area-name bottom-line" > {{ step.step_name }} </td>   
</tr>  
<tr><td> 
    <table> 
    {% if substeps|length > 0 %} 
    <tr><td width='70px'></td><td></td>
        <td></td>
        <td class="setpoints_text">Время</td>
        <td class="setpoints_text">Мощность</td>
        <td class="setpoints_text">Вращение</td>
        <td class="setpoints_text" >Обогащение</td>
        <td></td>
    </tr>
    {% else %}
    <tr><td width='70px'></td><td></td>
        <td></td>
        <td> Нет такой стадии в этой плавке</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td></td>
    </tr>
    {% endif %}
    {% for substep in substeps %}
        {% include "FregatMonitoringApp/include_templates/substeps_templates.html" %}
    {% endfor %} 
    <tr class="melt_step_add">
    <td> </td> <td>  </td><td>  </td><td>  </td><td>  </td><td>  </td> <td>  </td> 
    {% if user.is_authenticated and perms.FregatMonitoringApp.change_avtoplavka_setpoints %}
    <td><a href="{% url 'FregatMonitoringApp:auto_melts_add_substep' melt_name step.step_num %}" class="btn"> Добавить шаг</a></td>    
    {% endif %}  
    </tr>
    </table>
    </td>
</tr> 
</table>       
      